.animated {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

body {
    background-color: #b33939 !important;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 600px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}

header {
    width: 100% !important;
    height: 10%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #b33939;
}

header img {
    width: 120px !important;
    height: 80px !important;
    position: relative;
    top: -3px;
}

h1 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 25px !important;
    display: inline !important;
}

.main-container {
    height: 90%;
    width: 100%;
}

form {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.setor-turno {
    width: 100%;
    height: 102%;
    padding-top: 50px;
}

.setor-turno h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.setor-turno input {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    width: 70px;
    height: 25px;
    outline: 1px solid #b33939;
    border: none !important;
    font-size: 12px !important;
    text-align: center;
}

.legendaSetor {
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin: 20px 0 50px 0 !important;
}

.legendaSetor span {
    margin-right: 15px !important; 
}

.legendaTurno {
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin-top: 20px !important;
}

.legendaTurno span {
    margin-right: 15px !important; 
}

.btnNextPage {
    position: relative !important;
    bottom: -10px;
    left: 80% !important;
    border: none !important;
    background: #b33939 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border-radius: 3px;
    width: 100px;
    height: 35px;
    color: #fff;
    font-weight: 700 !important;
    letter-spacing: 1px;
    cursor: pointer;
}

.btnNextPage:hover {
    opacity: .9 !important;
}

.perguntas1 {
    width: 100%;
    height: 102%;
}

.perguntas1 h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.perguntas1 span {
    display: block !important;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin: 20px 0 10px 0 !important;
    font-weight: bold;
}

.perguntas1 input {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    width: 70px;
    height: 25px;
    outline: 1px solid #b33939;
    border: none !important;
    font-size: 12px !important;
    text-align: center;
}

.legendaPerguntas {
    display: flex !important;
    line-height: 15px !important;
}

.legendaPerguntas span {
    font-weight: 400 !important;
    margin-right: 15px !important;
}

.perguntas2 {
    width: 100%;
    height: 102%;
}

.perguntas2 h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.perguntas2 span {
    display: block !important;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin: 20px 0 10px 0 !important;
    font-weight: bold;
}

.perguntas2 input {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    width: 70px;
    height: 25px;
    outline: 1px solid #b33939;
    border: none !important;
    font-size: 12px !important;
    text-align: center;
}

.perguntas2 .legendaPerguntas span {
    font-weight: 400 !important;
    margin-right: 15px !important;
}

.perguntas3 {
    width: 100%;
    height: 102%;
}

.perguntas3 h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.perguntas3 span {
    display: block !important;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin: 20px 0 10px 0 !important;
    font-weight: bold;
}

.perguntas3 input {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    width: 70px;
    height: 25px;
    outline: 1px solid #b33939;
    border: none !important;
    font-size: 12px !important;
    text-align: center;
}

.perguntas3 .legendaPerguntas span {
    font-weight: 400 !important;
    margin-right: 15px !important;
}

.perguntas3 .legendaPerguntas {
    flex-wrap: wrap;
    width: 80%;
    line-height: 15px;
}

.perguntas4 {
    width: 100%;
    height: 102%;
}

.perguntas4 h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.perguntas4 span {
    display: block !important;
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    margin: 20px 0 10px 0 !important;
    font-weight: bold;
}

.perguntas4 input {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    width: 100%;
    height: 200px;
    outline: 1px solid #b33939;
    border: none !important;
    font-size: 14px !important;
    text-align: left;
    padding: 0 10px;
}

#semiFinalBtn {
    bottom: 30px !important;
}

#finalBtn {
    bottom: 80px !important;
}

#listagem {
    display: none;
}

.listagem {
    width: 100%;
    height: 102%;
    padding-top: 20px;
}

.listagem h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    display: block !important;
    margin-bottom: 35px;
}

.listagem p {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.filtro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.filtro span {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 15px;
}

.select-setor,
.select-turno {
    margin-right: 25px;
}

.select-pergunta,
.spanPergunta {
    margin-top: 30px;
}

.filtro select {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btnBuscar {
    position: relative !important;
    bottom: -225px;
    left: 69% !important;
    border: none !important;
    background: #b33939 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border-radius: 3px;
    width: 180px;
    height: 35px;
    color: #fff;
    font-weight: 700 !important;
    letter-spacing: 1px;
    cursor: pointer;
}

.botoes {
    position: absolute;
    top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes button {
    width: 130px;
    height: 35px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btnCadastro {
    margin-right: 10px;
}

#graficos {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

#graficos h1 {
    position: absolute;
    top: 50px;
}

.title {
    position: relative;
    top: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#graficos img {
    width: 140px;
    height: 95px;
    position: absolute;
    top: 25px;
    right: 8vw;
}

.grafico-container {
    width: 900px !important;
    height: 900px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%)
}